// GLOBAL RESET
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

// DEFINING 1REM
// 1.6rem = 16px

html {
  font-size: 62.5%;
}
