// RESPONSIVE BREAKPOINTS
$bp-1300px: 81.25em;
$bp-1100px: 68.75em;

// Tablet
$bp-980px: 61.25em;
$bp-880px: 55em;
$bp-730px: 45.625em;
$bp-600px: 37.5em;

// Phone
$bp-500px: 31.25em;
$bp-425px: 26.5625em;
